<h1>Bienvenue <%= @user.first_name %> <%= @user.last_name %> sur notre putain de site de potins !</h1>

<p>Tu es le <%= @random_number %>ème visiteur, viens réclamer ton prix ! </p>

<form action="/" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> 
  <input type="text" name="first_name">
  <input type="submit" name="Envoyer">
