<!-- View HTML de notre page Team-->

<div class="py-5 team4">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-md-7 text-center">
        <h1 class="mb-3">Une sacrée équipe</h1>
        <h6 class="subtitle">Passionnés de potins depuis leur enfance, cette équipe de choc travaillent dans l'ombre pour votre plus grand plaisir...</h6>
        <h6 class="subtitle">Les mystérieux Loïc & Alex !</h6>

      </div>
    </div>
  </div>
</div>